{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">{{ front }}</h1>
    </div>
</div>

<div class="container">
    <div class="top-buffer">
        {% for project in projects %}
        <div class="col-md-4">
            <h3>{{ project }}</h3>
            <p>{{ project.text|truncatechars:280 }}</p>
            <a href="{{ project.link }}"><button id="btnCode" class="btn btn-primary btn-sm">{{ project.link_title }}</button></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}